body {
  background-color: #99afa7;
}

.enter-booth-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

.number-of-photos {
  padding: 1rem;
  width: 16rem;
  margin: 1rem 0;
}

.error-message {
  margin-bottom: 1rem;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#video {
  margin: 2rem;
}

.counter {
  font-size: 3rem;
}

.video-capturing {
  border: 1.5rem solid #8b2a2a;
  border-radius: 20%;
}

.output {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.captured-photo {
  border: 1.5rem solid #134450;
}

.new-photo-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

a {
    text-decoration: none;
}
/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
